Repository aws/aws-lambda-builders, pull requests merged in 2022-02, with the labels that each got.

#320 feat: Turn esbuild into its own workflow
  aws_lambda_builders/workflows/__init__.py
  aws_lambda_builders/workflows/nodejs_npm/DESIGN.md
  aws_lambda_builders/workflows/nodejs_npm/actions.py
  aws_lambda_builders/workflows/nodejs_npm/utils.py
  aws_lambda_builders/workflows/nodejs_npm/workflow.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/__init__.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/actions.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/esbuild.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/utils.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/workflow.py
  tests/integration/workflows/nodejs_npm/test_nodejs_npm.py
  tests/integration/workflows/nodejs_npm_esbuild/__init__.py
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
  tests/integration/workflows/nodejs_npm_esbuild/testdata/broken-package/excluded.js
  tests/integration/workflows/nodejs_npm_esbuild/testdata/broken-package/included.js
  tests/integration/workflows/nodejs_npm_esbuild/testdata/broken-package/package.json
  tests/integration/workflows/nodejs_npm_esbuild/testdata/esbuild-binary/package-lock.json
  tests/integration/workflows/nodejs_npm_esbuild/testdata/esbuild-binary/package.json
  tests/integration/workflows/nodejs_npm_esbuild/testdata/no-deps-esbuild/.gitignore
  tests/integration/workflows/nodejs_npm_esbuild/testdata/no-deps-esbuild/excluded.js
  tests/integration/workflows/nodejs_npm_esbuild/testdata/no-deps-esbuild/included.js
  tests/integration/workflows/nodejs_npm_esbuild/testdata/no-deps-esbuild/package.json
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-esbuild-multiple-entrypoints/.gitignore
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-esbuild-multiple-entrypoints/excluded.js
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-esbuild-multiple-entrypoints/included.js
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-esbuild-multiple-entrypoints/included2.js
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-esbuild-multiple-entrypoints/package.json
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-esbuild-typescript/included.ts
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-esbuild-typescript/package-lock.json
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-esbuild-typescript/package.json
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-esbuild/excluded.js
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-esbuild/included.js
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-esbuild/package-lock.json
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-esbuild/package.json
  tests/unit/workflows/nodejs_npm/test_actions.py
  tests/unit/workflows/nodejs_npm/test_workflow.py
  tests/unit/workflows/nodejs_npm_esbuild/__init__.py
  tests/unit/workflows/nodejs_npm_esbuild/test_actions.py
  tests/unit/workflows/nodejs_npm_esbuild/test_esbuild.py
  tests/unit/workflows/nodejs_npm_esbuild/test_utils.py
  tests/unit/workflows/nodejs_npm_esbuild/test_workflow.py
Labels: area/workflow/node_npm, pr/internal

#318 feat: java build changes
  Makefile
  aws_lambda_builders/builder.py
  aws_lambda_builders/utils.py
  aws_lambda_builders/workflow.py
  aws_lambda_builders/workflows/java/utils.py
  aws_lambda_builders/workflows/java_gradle/actions.py
  aws_lambda_builders/workflows/java_gradle/workflow.py
  aws_lambda_builders/workflows/java_maven/DESIGN.md
  aws_lambda_builders/workflows/java_maven/actions.py
  aws_lambda_builders/workflows/java_maven/maven.py
  aws_lambda_builders/workflows/java_maven/workflow.py
  tests/functional/test_utils.py
  tests/integration/workflows/common_test_utils.py
  tests/integration/workflows/java_gradle/test_java_gradle.py
  tests/integration/workflows/java_gradle/testdata/single-build/layer/build.gradle
  tests/integration/workflows/java_gradle/testdata/single-build/layer/settings.gradle
  tests/integration/workflows/java_gradle/testdata/single-build/layer/src/main/java/aws/lambdabuilders/CommonCode.java
  tests/integration/workflows/java_gradle/testdata/single-build/with-layer-deps/build.gradle
  tests/integration/workflows/java_gradle/testdata/single-build/with-layer-deps/src/main/java/aws/lambdabuilders/Main.java
  tests/integration/workflows/java_maven/test_java_maven.py
  tests/integration/workflows/java_maven/testdata/single-build/layer/pom.xml
  tests/integration/workflows/java_maven/testdata/single-build/layer/src/main/java/aws/lambdabuilders/CommonCode.java
  tests/integration/workflows/java_maven/testdata/single-build/with-layer-deps/pom.xml
  tests/integration/workflows/java_maven/testdata/single-build/with-layer-deps/src/main/java/aws/lambdabuilders/Main.java
  tests/unit/test_builder.py
  tests/unit/workflows/java/test_utils.py
  tests/unit/workflows/java_gradle/test_actions.py
  tests/unit/workflows/java_gradle/test_workflow.py
  tests/unit/workflows/java_maven/test_actions.py
  tests/unit/workflows/java_maven/test_maven.py
  tests/unit/workflows/java_maven/test_workflow.py
Labels: area/workflow/java_gradle, area/workflow/java_maven, pr/internal

#323 chore: update integration tests dependencies
  tests/integration/workflows/go_dep/data/src/failed-remote/Gopkg.lock
  tests/integration/workflows/go_dep/data/src/failed-remote/Gopkg.toml
  tests/integration/workflows/nodejs_npm/test_nodejs_npm.py
  tests/integration/workflows/nodejs_npm/testdata/broken-deps/package.json
  tests/integration/workflows/python_pip/test_python_pip.py
  tests/integration/workflows/python_pip/testdata/requirements-invalid.txt
Labels: pr/internal

#325 chore: bump version to 1.11.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#327 feat: Esbuild Accelerate Support
  aws_lambda_builders/workflows/nodejs_npm_esbuild/actions.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/esbuild-plugin.js.template
  aws_lambda_builders/workflows/nodejs_npm_esbuild/node.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/workflow.py
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-no-node_modules/excluded.js
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-no-node_modules/included.js
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-no-node_modules/package.json
  tests/unit/workflows/nodejs_npm_esbuild/test_actions.py
  tests/unit/workflows/nodejs_npm_esbuild/test_node.py
  tests/unit/workflows/nodejs_npm_esbuild/test_workflow.py
Labels: pr/internal

#330 fix: Read feature flags from params
  aws_lambda_builders/__main__.py
  tests/functional/test_cli.py
Labels: pr/internal

#329 fix: create deps folder before starting copy/move operation of dependencies
  aws_lambda_builders/actions.py
  tests/integration/test_actions.py
  tests/integration/testdata/empty_subfolders/sub_folder/sub_folder/test_file.txt
  tests/integration/testdata/multiple_files/sub_folder/test_file3.txt
  tests/integration/testdata/multiple_files/test_file.txt
  tests/integration/testdata/multiple_files/test_file2.txt
  tests/integration/testdata/single_file/test_file.txt
Labels: pr/internal

#331 chore: Version bump 1.12.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#332 chore: Merge develop into master
  aws_lambda_builders/__init__.py
  aws_lambda_builders/__main__.py
  aws_lambda_builders/actions.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/actions.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/esbuild-plugin.js.template
  aws_lambda_builders/workflows/nodejs_npm_esbuild/node.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/workflow.py
  tests/functional/test_cli.py
  tests/integration/test_actions.py
  tests/integration/testdata/empty_subfolders/sub_folder/sub_folder/test_file.txt
  tests/integration/testdata/multiple_files/sub_folder/test_file3.txt
  tests/integration/testdata/multiple_files/test_file.txt
  tests/integration/testdata/multiple_files/test_file2.txt
  tests/integration/testdata/single_file/test_file.txt
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-no-node_modules/excluded.js
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-no-node_modules/included.js
  tests/integration/workflows/nodejs_npm_esbuild/testdata/with-deps-no-node_modules/package.json
  tests/unit/workflows/nodejs_npm_esbuild/test_actions.py
  tests/unit/workflows/nodejs_npm_esbuild/test_node.py
  tests/unit/workflows/nodejs_npm_esbuild/test_workflow.py
Labels: pr/internal

#334 Version bump to 1.13.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#335 chore: Merge develop into master
  .appveyor.yml
  aws_lambda_builders/__init__.py
  aws_lambda_builders/validator.py
  aws_lambda_builders/workflows/python_pip/DESIGN.md
  aws_lambda_builders/workflows/python_pip/packager.py
  aws_lambda_builders/workflows/ruby_bundler/DESIGN.md
  tests/integration/workflows/dotnet_clipackage/test_dotnet.py
  tests/integration/workflows/dotnet_clipackage/testdata/WithDefaultsFile6/Function.cs
  tests/integration/workflows/dotnet_clipackage/testdata/WithDefaultsFile6/WithDefaultsFile.csproj
  tests/integration/workflows/dotnet_clipackage/testdata/WithDefaultsFile6/aws-lambda-tools-defaults.json
  tests/integration/workflows/python_pip/test_python_pip.py
  tests/integration/workflows/ruby_bundler/test_ruby.py
  tests/unit/test_validator.py
  tests/unit/test_workflow.py
  tests/unit/workflows/python_pip/test_packager.py
  tests/unit/workflows/python_pip/test_validator.py
Labels: area/workflow/python_pip, area/workflow/ruby_bundler, pr/internal

#337 chore: Merge develop into master
  .appveyor.yml
  aws_lambda_builders/__init__.py
  aws_lambda_builders/validator.py
  aws_lambda_builders/workflows/python_pip/DESIGN.md
  aws_lambda_builders/workflows/python_pip/packager.py
  aws_lambda_builders/workflows/ruby_bundler/DESIGN.md
  tests/integration/workflows/dotnet_clipackage/test_dotnet.py
  tests/integration/workflows/dotnet_clipackage/testdata/WithDefaultsFile6/Function.cs
  tests/integration/workflows/dotnet_clipackage/testdata/WithDefaultsFile6/WithDefaultsFile.csproj
  tests/integration/workflows/dotnet_clipackage/testdata/WithDefaultsFile6/aws-lambda-tools-defaults.json
  tests/integration/workflows/python_pip/test_python_pip.py
  tests/integration/workflows/ruby_bundler/test_ruby.py
  tests/unit/test_validator.py
  tests/unit/test_workflow.py
  tests/unit/workflows/python_pip/test_packager.py
  tests/unit/workflows/python_pip/test_validator.py
Labels: area/workflow/python_pip, area/workflow/ruby_bundler, pr/internal
