Repository aws/aws-lambda-builders, pull requests merged in 2022-08, with the labels that each got.

#377 fix(path-resolver): Add additional binaries to python-pip workflow
  aws_lambda_builders/exceptions.py
  aws_lambda_builders/path_resolver.py
  aws_lambda_builders/workflows/python_pip/workflow.py
  tests/integration/workflows/python_pip/test_python_pip.py
  tests/unit/test_path_resolver.py
  tests/unit/workflows/python_pip/test_workflow.py
Labels: area/workflow/python_pip, pr/external, stage/needs-triage

#378 feat: add custom working directory for custom build workflow
  aws_lambda_builders/workflows/custom_make/actions.py
  aws_lambda_builders/workflows/custom_make/workflow.py
  tests/integration/workflows/custom_make/test_custom_make.py
  tests/integration/workflows/custom_make/testdata/makefile-in-different-working-directory/Makefile
  tests/integration/workflows/custom_make/testdata/makefile-in-different-working-directory/source_code/__init__.py
  tests/integration/workflows/custom_make/testdata/makefile-in-different-working-directory/source_code/main.py
  tests/integration/workflows/custom_make/testdata/makefile-in-different-working-directory/source_code/requirements-requests.txt
  tests/unit/workflows/custom_make/test_actions.py
  tests/unit/workflows/custom_make/test_workflow.py
Labels: pr/internal

#380 chore: bump version to 1.19.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#379 feat: Install esbuild deps with production flag
  aws_lambda_builders/workflows/nodejs_npm/actions.py
  aws_lambda_builders/workflows/nodejs_npm/workflow.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/esbuild.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/workflow.py
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
  tests/integration/workflows/nodejs_npm_esbuild/testdata/esbuild-binary/package-lock.json
  tests/integration/workflows/nodejs_npm_esbuild/testdata/esbuild-binary/package.json
  tests/unit/workflows/nodejs_npm/test_actions.py
  tests/unit/workflows/nodejs_npm_esbuild/test_esbuild.py
  tests/unit/workflows/nodejs_npm_esbuild/test_workflow.py
Labels: pr/internal

#384 feat: Add support for --main-fields esbuild option
  aws_lambda_builders/workflows/nodejs_npm_esbuild/esbuild.py
  tests/unit/workflows/nodejs_npm_esbuild/test_esbuild.py
Labels: pr/internal

#383 feat: Remove esbuild flag
  aws_lambda_builders/workflows/nodejs_npm_esbuild/utils.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/workflow.py
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
  tests/unit/workflows/nodejs_npm_esbuild/test_utils.py
  tests/unit/workflows/nodejs_npm_esbuild/test_workflow.py
Labels: pr/external, stage/needs-triage

#385 fix: Address main fields incorrectly inputted
  aws_lambda_builders/workflows/nodejs_npm_esbuild/esbuild.py
  tests/unit/workflows/nodejs_npm_esbuild/test_esbuild.py
Labels: pr/internal

#381 aws-lambda-builders release 1.19.0
  aws_lambda_builders/__init__.py
  aws_lambda_builders/actions.py
  aws_lambda_builders/exceptions.py
  aws_lambda_builders/path_resolver.py
  aws_lambda_builders/utils.py
  aws_lambda_builders/workflows/custom_make/actions.py
  aws_lambda_builders/workflows/custom_make/workflow.py
  aws_lambda_builders/workflows/nodejs_npm/actions.py
  aws_lambda_builders/workflows/nodejs_npm/workflow.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/DESIGN.md
  aws_lambda_builders/workflows/nodejs_npm_esbuild/actions.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/esbuild-plugin.js.template
  aws_lambda_builders/workflows/nodejs_npm_esbuild/esbuild.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/exceptions.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/node.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/utils.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/workflow.py
  aws_lambda_builders/workflows/python_pip/utils.py
  aws_lambda_builders/workflows/python_pip/workflow.py
  tests/integration/workflows/custom_make/test_custom_make.py
  tests/integration/workflows/custom_make/testdata/makefile-in-different-working-directory/Makefile
  tests/integration/workflows/custom_make/testdata/makefile-in-different-working-directory/source_code/__init__.py
  tests/integration/workflows/custom_make/testdata/makefile-in-different-working-directory/source_code/main.py
  tests/integration/workflows/custom_make/testdata/makefile-in-different-working-directory/source_code/requirements-requests.txt
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
  tests/integration/workflows/nodejs_npm_esbuild/testdata/esbuild-binary/package-lock.json
  tests/integration/workflows/nodejs_npm_esbuild/testdata/esbuild-binary/package.json
  tests/integration/workflows/python_pip/test_python_pip.py
  tests/unit/test_path_resolver.py
  tests/unit/test_utils.py
  tests/unit/workflows/custom_make/test_actions.py
  tests/unit/workflows/custom_make/test_workflow.py
  tests/unit/workflows/nodejs_npm/test_actions.py
  tests/unit/workflows/nodejs_npm_esbuild/test_actions.py
  tests/unit/workflows/nodejs_npm_esbuild/test_esbuild.py
  tests/unit/workflows/nodejs_npm_esbuild/test_node.py
  tests/unit/workflows/nodejs_npm_esbuild/test_utils.py
  tests/unit/workflows/nodejs_npm_esbuild/test_workflow.py
  tests/unit/workflows/python_pip/test_workflow.py
Labels: area/workflow/python_pip, pr/internal
