Repository aws/aws-lambda-builders, pull requests merged in 2022-05, with the labels that each got.

#359 feat: nodejs16 support
  aws_lambda_builders/validator.py
  tests/integration/workflows/nodejs_npm/test_nodejs_npm.py
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
Labels: pr/internal

#360 Version bump to 1.16.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#357 feat: make java scope changes default
  aws_lambda_builders/workflows/java/utils.py
  aws_lambda_builders/workflows/java_gradle/workflow.py
  aws_lambda_builders/workflows/java_maven/maven.py
  aws_lambda_builders/workflows/java_maven/workflow.py
  tests/integration/workflows/java_gradle/test_java_gradle.py
  tests/integration/workflows/java_maven/test_java_maven.py
  tests/unit/workflows/java/test_utils.py
  tests/unit/workflows/java_gradle/test_workflow.py
  tests/unit/workflows/java_maven/test_maven.py
  tests/unit/workflows/java_maven/test_workflow.py
Labels: area/workflow/java_maven, pr/internal

#248 fix integration test for mismatched python version
  tests/integration/workflows/python_pip/test_python_pip.py
Labels: pr/external, maintainer/need-response

#364 feat: improve new PR and issue labeling for triaging
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/other.md
  .github/workflows/pr-labeler.yml
Labels: pr/internal

#365 chore: bump version to 1.17.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#366 chore: merge develop to master
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/other.md
  .github/workflows/pr-labeler.yml
  aws_lambda_builders/__init__.py
  aws_lambda_builders/workflows/java/utils.py
  aws_lambda_builders/workflows/java_gradle/workflow.py
  aws_lambda_builders/workflows/java_maven/maven.py
  aws_lambda_builders/workflows/java_maven/workflow.py
  tests/integration/workflows/java_gradle/test_java_gradle.py
  tests/integration/workflows/java_maven/test_java_maven.py
  tests/integration/workflows/python_pip/test_python_pip.py
  tests/unit/workflows/java/test_utils.py
  tests/unit/workflows/java_gradle/test_workflow.py
  tests/unit/workflows/java_maven/test_maven.py
  tests/unit/workflows/java_maven/test_workflow.py
Labels: area/workflow/java_gradle, area/workflow/java_maven, pr/internal

#362 chore: remove redundant six usage
  aws_lambda_builders/actions.py
  aws_lambda_builders/workflow.py
  requirements/base.txt
  tests/integration/workflows/python_pip/test_python_pip.py
Labels: pr/internal
