Repository aws/aws-lambda-builders, pull requests merged in 2022-03, with the labels that each got.

#338 feat: Use flag to run npm ci and respect lockfile
  aws_lambda_builders/workflows/nodejs_npm/actions.py
  aws_lambda_builders/workflows/nodejs_npm/workflow.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/workflow.py
  tests/integration/workflows/nodejs_npm/test_nodejs_npm.py
  tests/integration/workflows/nodejs_npm/testdata/package-lock-and-shrinkwrap/excluded.js
  tests/integration/workflows/nodejs_npm/testdata/package-lock-and-shrinkwrap/included.js
  tests/integration/workflows/nodejs_npm/testdata/package-lock-and-shrinkwrap/npm-shrinkwrap.json
  tests/integration/workflows/nodejs_npm/testdata/package-lock-and-shrinkwrap/package-lock.json
  tests/integration/workflows/nodejs_npm/testdata/package-lock-and-shrinkwrap/package.json
  tests/integration/workflows/nodejs_npm/testdata/package-lock.json
  tests/integration/workflows/nodejs_npm/testdata/package-lock/excluded.js
  tests/integration/workflows/nodejs_npm/testdata/package-lock/included.js
  tests/integration/workflows/nodejs_npm/testdata/package-lock/package-lock.json
  tests/integration/workflows/nodejs_npm/testdata/package-lock/package.json
  tests/integration/workflows/nodejs_npm/testdata/shrinkwrap/excluded.js
  tests/integration/workflows/nodejs_npm/testdata/shrinkwrap/included.js
  tests/integration/workflows/nodejs_npm/testdata/shrinkwrap/npm-shrinkwrap.json
  tests/integration/workflows/nodejs_npm/testdata/shrinkwrap/package.json
  tests/unit/workflows/nodejs_npm/test_actions.py
  tests/unit/workflows/nodejs_npm/test_workflow.py
  tests/unit/workflows/nodejs_npm_esbuild/test_workflow.py
Labels: area/workflow/node_npm, pr/internal

#321 Fix python ARM build issue
  aws_lambda_builders/workflows/python_pip/packager.py
  tests/integration/workflows/python_pip/test_python_pip.py
  tests/integration/workflows/python_pip/testdata/requirements-wrapt.txt
Labels: area/workflow/python_pip, pr/external, maintainer/need-followup

#345 chore: Version bump to 1.14.0
  aws_lambda_builders/__init__.py
Labels: pr/internal
