Repository aws/aws-lambda-builders, pull requests merged in 2022-11, with the labels that each got.

#400 chore: version bump to 1.21.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#401 Restore file permissions after unzip
  aws_lambda_builders/workflows/dotnet_clipackage/actions.py
  aws_lambda_builders/workflows/dotnet_clipackage/utils.py
  tests/integration/workflows/dotnet_clipackage/test_dotnet.py
  tests/integration/workflows/dotnet_clipackage/testdata/CustomRuntime6/CustomRuntime6.csproj
  tests/integration/workflows/dotnet_clipackage/testdata/CustomRuntime6/Function.cs
  tests/integration/workflows/dotnet_clipackage/testdata/CustomRuntime6/aws-lambda-tools-defaults.json
  tests/unit/workflows/dotnet_clipackage/test_utils.py
Labels: pr/external, stage/needs-triage

#402 chore: version bump to 1.22.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#404 feat: nodejs18
  aws_lambda_builders/validator.py
  tests/integration/workflows/nodejs_npm/test_nodejs_npm.py
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
Labels: pr/internal

#405 chore: bump version to 1.23.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#403 chore: Add CODEOWNERS file
  CODEOWNERS
Labels: pr/internal

#408 CVE-2007-4559 Patch
  .gitignore
  aws_lambda_builders/utils.py
  aws_lambda_builders/workflows/nodejs_npm/actions.py
  aws_lambda_builders/workflows/nodejs_npm/utils.py
  aws_lambda_builders/workflows/python_pip/packager.py
  aws_lambda_builders/workflows/python_pip/utils.py
  aws_lambda_builders/workflows/ruby_bundler/utils.py
  tests/functional/test_utils.py
  tests/functional/testdata/path_reversal_uxix.tgz
  tests/functional/testdata/path_reversal_win.tgz
  tests/functional/testdata/test.tgz
  tests/functional/workflows/nodejs_npm/test_utils.py
  tests/functional/workflows/ruby_bundler/test_ruby_utils.py
  tests/unit/workflows/nodejs_npm/test_actions.py
Labels: area/workflow/python_pip, area/workflow/ruby_bundler, area/workflow/node_npm, pr/external

#409 chore: Version bump from 1.23.0 to 1.23.1
  aws_lambda_builders/__init__.py
Labels: pr/internal

#407 fix: Change npm bin to npm root
  aws_lambda_builders/workflows/nodejs_npm_esbuild/workflow.py
  tests/unit/workflows/nodejs_npm_esbuild/test_workflow.py
Labels: pr/internal

#411 fix: Copy over shrinkwrap if it exists
  aws_lambda_builders/workflows/nodejs_npm/actions.py
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
  tests/unit/workflows/nodejs_npm/test_actions.py
Labels: area/workflow/node_npm, pr/internal

#410 test: Add GH Actions
  .github/workflows/build.yml
  conftest.py
  pyproject.toml
Labels: pr/internal
