Repository aws/aws-lambda-builders, pull requests merged in 2022-10, with the labels that each got.

#391 fix: disable symlinking for python dependencies
  aws_lambda_builders/workflows/python_pip/workflow.py
  tests/unit/workflows/python_pip/test_workflow.py
Labels: area/workflow/python_pip, pr/internal

#392 chore: bump version to 1.20.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#387 Support go1.x builder with the provided.al2 runtime
  .appveyor.yml
  aws_lambda_builders/workflows/go_modules/validator.py
Labels: area/workflow/go_modules, pr/external, maintainer/need-followup

#399 fix: `Makefile` workflow to stream output
  aws_lambda_builders/workflows/custom_make/make.py
  tests/unit/workflows/custom_make/test_make.py
Labels: pr/internal
