Repository aws/aws-lambda-builders, pull requests merged in 2023-03, with the labels that each got.

#461 feat: add symlink support in actions
  aws_lambda_builders/actions.py
  aws_lambda_builders/utils.py
  tests/functional/test_actions.py
  tests/functional/test_utils.py
  tests/functional/testdata/empty_subfolders/sub_folder/sub_folder/test_file.txt
  tests/functional/testdata/multiple_files/sub_folder/test_file3.txt
  tests/functional/testdata/multiple_files/test_file.txt
  tests/functional/testdata/multiple_files/test_file2.txt
  tests/functional/testdata/single_file/test_file.txt
  tests/integration/test_actions.py
  tests/testing_utils.py
  tests/unit/test_actions.py
Labels: pr/internal

#464 chore: Enable workflow to trigger on merge_group
  .github/workflows/build.yml
Labels: pr/internal

#468 feat: add python3.10 support
  .github/workflows/build.yml
  aws_lambda_builders/validator.py
  aws_lambda_builders/workflows/python_pip/DESIGN.md
  aws_lambda_builders/workflows/python_pip/packager.py
  setup.py
  tests/integration/workflows/python_pip/test_python_pip.py
  tests/integration/workflows/python_pip/testdata/requirements-numpy.txt
  tests/unit/workflows/python_pip/test_packager.py
Labels: area/workflow/python_pip, pr/internal

#473 chore: Mark Dependabot PRs as internal
  .github/workflows/pr-labeler.yml
Labels: pr/internal

#475 Add compatibility with setuptools 66+
  tests/functional/workflows/python_pip/test_packager.py
Labels: pr/external, stage/needs-triage
