Repository aws/aws-lambda-builders, pull requests merged in 2023-12, with the labels that each got.

#582 chore: Bump Lambda Builders version to 1.43.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#581 fix: build requirements.txt pointing to private repository
  aws_lambda_builders/workflows/python_pip/actions.py
  aws_lambda_builders/workflows/python_pip/packager.py
  tests/functional/workflows/python_pip/test_packager.py
  tests/unit/workflows/python_pip/test_actions.py
  tests/unit/workflows/python_pip/test_packager.py
Labels: area/workflow/python_pip

#585 chore: auto close issues with stage/waiting-for-release tag when a new release is completed
  .github/workflows/close-issue-on-release.yml
Labels: pr/internal

#592 chore(deps): bump actions/labeler from 4 to 5
  .github/labeler.yml
Labels: pr/internal

#591 Chore: bump version to 1.44
  aws_lambda_builders/__init__.py
Labels: pr/external, stage/needs-triage
