Repository aws/aws-lambda-builders, pull requests merged in 2023-09, with the labels that each got.

#536 Support PEP 600 platform tags for arm64
  aws_lambda_builders/workflows/python_pip/packager.py
Labels: area/workflow/python_pip, pr/external, stage/needs-triage

#544 chore: Version Bump 1.38.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#549 fix: Validate if pip is installed in the runtime path
  aws_lambda_builders/workflows/python_pip/actions.py
  tests/unit/workflows/python_pip/test_actions.py
Labels: area/workflow/python_pip

#546 feat: Validate minimum npm version required to use --install-links
  aws_lambda_builders/workflows/nodejs_npm/actions.py
  aws_lambda_builders/workflows/nodejs_npm/exceptions.py
  aws_lambda_builders/workflows/nodejs_npm/npm.py
  aws_lambda_builders/workflows/nodejs_npm/workflow.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/workflow.py
  tests/unit/workflows/nodejs_npm/test_workflow.py
  tests/unit/workflows/nodejs_npm_esbuild/test_workflow.py
Labels: area/workflow/node_npm, pr/internal
