Repository aws/aws-lambda-builders, pull requests merged in 2023-11, with the labels that each got.

#568 fix: update root GHA definition
  .github/workflows/build.yml
Labels: pr/internal

#569 Add nodejs20.x support (#67)
  .github/workflows/build.yml
  aws_lambda_builders/__init__.py
  aws_lambda_builders/validator.py
  requirements/dev.txt
  tests/integration/workflows/nodejs_npm/test_nodejs_npm.py
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
Labels: area/workflow/python_pip, pr/internal

#570 chore: Version bump to 1.41.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#575 Feat python3.12
  .github/workflows/build.yml
  aws_lambda_builders/validator.py
  aws_lambda_builders/workflows/python_pip/DESIGN.md
  aws_lambda_builders/workflows/python_pip/packager.py
  setup.py
  tests/integration/workflows/python_pip/test_python_pip.py
  tests/integration/workflows/python_pip/testdata/requirements-inflate.txt
  tests/integration/workflows/python_pip/testdata/requirements-numpy.txt
  tests/unit/workflows/python_pip/test_packager.py
Labels: area/workflow/python_pip, pr/internal

#576 chore: Version bump to 1.42.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#578 fix: Symlinks to non-existent directories, symlinks re-creating
  aws_lambda_builders/actions.py
  aws_lambda_builders/utils.py
  tests/unit/test_actions.py
  tests/unit/test_utils.py
Labels: pr/internal

#579 fix: use npm update when building in source
  aws_lambda_builders/actions.py
  aws_lambda_builders/workflows/nodejs_npm/actions.py
  aws_lambda_builders/workflows/nodejs_npm/workflow.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/workflow.py
  tests/integration/workflows/nodejs_npm/test_nodejs_npm.py
  tests/unit/workflows/nodejs_npm/test_workflow.py
  tests/unit/workflows/nodejs_npm_esbuild/test_workflow.py
Labels: area/workflow/node_npm, pr/internal
