Repository aws/aws-lambda-builders, pull requests merged in 2023-10, with the labels that each got.

#550 fix: Update esbuild binary fetching logic to look inside of `build_dir`
  aws_lambda_builders/workflows/nodejs_npm_esbuild/workflow.py
  tests/unit/workflows/nodejs_npm_esbuild/test_workflow.py
Labels: pr/internal

#554 fix: Decoding non-unicode characters raises unhandled exception
  aws_lambda_builders/utils.py
  aws_lambda_builders/workflows/dotnet_clipackage/dotnetcli.py
  aws_lambda_builders/workflows/dotnet_clipackage/utils.py
  aws_lambda_builders/workflows/java_gradle/gradle_validator.py
  aws_lambda_builders/workflows/java_maven/maven.py
  tests/unit/test_utils.py
Labels: area/workflow/java_gradle, area/workflow/java_maven, area/workflow/dotnet_clipackage, pr/internal

#557 chore: Version bump to 1.39.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#559 chore: Version bump to 1.40.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#563 fix: streaming stderr from subprocess started by lambda-builders
  aws_lambda_builders/workflows/ruby_bundler/bundler.py
  tests/unit/workflows/ruby_bundler/test_bundler.py
Labels: area/workflow/ruby_bundler, pr/internal
