Repository aws/aws-lambda-builders, pull requests merged in 2023-02, with the labels that each got.

#436 chore: Enable pylint within ruff
  aws_lambda_builders/workflows/dotnet_clipackage/utils.py
  aws_lambda_builders/workflows/python_pip/compat.py
  pyproject.toml
Labels: area/workflow/python_pip, pr/internal

#433 refactor: esbuild refactor for readability
  aws_lambda_builders/workflows/nodejs_npm_esbuild/actions.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/workflow.py
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
  tests/unit/workflows/nodejs_npm_esbuild/test_actions.py
  tests/unit/workflows/nodejs_npm_esbuild/test_workflow.py
Labels: pr/internal

#437 feat: use build_dir in esbuild workflow to support building in source
  aws_lambda_builders/workflows/nodejs_npm/actions.py
  aws_lambda_builders/workflows/nodejs_npm/workflow.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/workflow.py
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
  tests/unit/workflows/nodejs_npm_esbuild/test_workflow.py
Labels: area/workflow/node_npm, pr/internal

#434 fix: remove python3.6 support
  aws_lambda_builders/validator.py
  aws_lambda_builders/workflows/python_pip/packager.py
  aws_lambda_builders/workflows/python_pip/validator.py
  pyproject.toml
  requirements/dev.txt
  setup.py
  tests/functional/workflows/python_pip/test_packager.py
  tests/integration/workflows/python_pip/test_python_pip.py
  tests/unit/test_validator.py
  tests/unit/workflows/python_pip/test_packager.py
  tests/unit/workflows/python_pip/test_validator.py
Labels: area/workflow/python_pip, pr/internal

#441 chore: bump version to 1.26.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#442 feat: Pin ruff version, add dependabot config
  .github/dependabot.yml
  requirements/dev.txt
Labels: pr/internal

#439 feat: Add sources content flag to supported esbuild options
  aws_lambda_builders/workflows/nodejs_npm_esbuild/esbuild.py
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
  tests/unit/workflows/nodejs_npm_esbuild/test_esbuild.py
Labels: pr/internal

#350 feat: Rust cargo lambda workflow
  .github/workflows/build.yml
  Makefile
  README.md
  aws_lambda_builders/workflows/__init__.py
  aws_lambda_builders/workflows/rust_cargo/DESIGN.md
  aws_lambda_builders/workflows/rust_cargo/__init__.py
  aws_lambda_builders/workflows/rust_cargo/actions.py
  aws_lambda_builders/workflows/rust_cargo/cargo_lambda.py
  aws_lambda_builders/workflows/rust_cargo/exceptions.py
  aws_lambda_builders/workflows/rust_cargo/feature_flag.py
  aws_lambda_builders/workflows/rust_cargo/utils.py
  aws_lambda_builders/workflows/rust_cargo/workflow.py
  tests/integration/workflows/rust_cargo/test_rust_cargo.py
  tests/integration/workflows/rust_cargo/testdata/fail/.gitignore
  tests/integration/workflows/rust_cargo/testdata/fail/Cargo.lock
  tests/integration/workflows/rust_cargo/testdata/fail/Cargo.toml
  tests/integration/workflows/rust_cargo/testdata/fail/src/main.rs
  tests/integration/workflows/rust_cargo/testdata/hello/.gitignore
  tests/integration/workflows/rust_cargo/testdata/hello/Cargo.lock
  tests/integration/workflows/rust_cargo/testdata/hello/Cargo.toml
  tests/integration/workflows/rust_cargo/testdata/hello/src/main.rs
  tests/integration/workflows/rust_cargo/testdata/multi-binary/.gitignore
  tests/integration/workflows/rust_cargo/testdata/multi-binary/Cargo.lock
  tests/integration/workflows/rust_cargo/testdata/multi-binary/Cargo.toml
  tests/integration/workflows/rust_cargo/testdata/multi-binary/src/function_a.rs
  tests/integration/workflows/rust_cargo/testdata/multi-binary/src/function_b.rs
  tests/integration/workflows/rust_cargo/testdata/workspaces/.gitignore
  tests/integration/workflows/rust_cargo/testdata/workspaces/Cargo.lock
  tests/integration/workflows/rust_cargo/testdata/workspaces/Cargo.toml
  tests/integration/workflows/rust_cargo/testdata/workspaces/bar/Cargo.toml
  tests/integration/workflows/rust_cargo/testdata/workspaces/bar/src/main.rs
  tests/integration/workflows/rust_cargo/testdata/workspaces/foo/Cargo.toml
  tests/integration/workflows/rust_cargo/testdata/workspaces/foo/src/main.rs
  tests/unit/workflows/rust_cargo/__init__.py
  tests/unit/workflows/rust_cargo/test_actions.py
  tests/unit/workflows/rust_cargo/test_cargo_lambda.py
  tests/unit/workflows/rust_cargo/test_utils.py
  tests/unit/workflows/rust_cargo/test_workflow.py
Labels: pr/external, maintainer/need-followup, blocked/pending-security-review

#440 chore: Add isort and fix issues
  aws_lambda_builders/__main__.py
  aws_lambda_builders/actions.py
  aws_lambda_builders/builder.py
  aws_lambda_builders/utils.py
  aws_lambda_builders/validator.py
  aws_lambda_builders/workflow.py
  aws_lambda_builders/workflows/__init__.py
  aws_lambda_builders/workflows/custom_make/actions.py
  aws_lambda_builders/workflows/custom_make/workflow.py
  aws_lambda_builders/workflows/dotnet_clipackage/actions.py
  aws_lambda_builders/workflows/dotnet_clipackage/dotnetcli.py
  aws_lambda_builders/workflows/dotnet_clipackage/utils.py
  aws_lambda_builders/workflows/dotnet_clipackage/workflow.py
  aws_lambda_builders/workflows/go_modules/actions.py
  aws_lambda_builders/workflows/go_modules/builder.py
  aws_lambda_builders/workflows/go_modules/validator.py
  aws_lambda_builders/workflows/go_modules/workflow.py
  aws_lambda_builders/workflows/java/actions.py
  aws_lambda_builders/workflows/java/utils.py
  aws_lambda_builders/workflows/java_gradle/actions.py
  aws_lambda_builders/workflows/java_gradle/gradle_validator.py
  aws_lambda_builders/workflows/java_gradle/workflow.py
  aws_lambda_builders/workflows/java_maven/actions.py
  aws_lambda_builders/workflows/java_maven/maven_validator.py
  aws_lambda_builders/workflows/java_maven/workflow.py
  aws_lambda_builders/workflows/nodejs_npm/actions.py
  aws_lambda_builders/workflows/nodejs_npm/utils.py
  aws_lambda_builders/workflows/nodejs_npm/workflow.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/actions.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/esbuild.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/workflow.py
  aws_lambda_builders/workflows/python_pip/actions.py
  aws_lambda_builders/workflows/python_pip/compat.py
  aws_lambda_builders/workflows/python_pip/packager.py
  aws_lambda_builders/workflows/python_pip/utils.py
  aws_lambda_builders/workflows/python_pip/validator.py
  aws_lambda_builders/workflows/python_pip/workflow.py
  aws_lambda_builders/workflows/ruby_bundler/actions.py
  aws_lambda_builders/workflows/ruby_bundler/utils.py
  aws_lambda_builders/workflows/ruby_bundler/workflow.py
  aws_lambda_builders/workflows/rust_cargo/actions.py
  aws_lambda_builders/workflows/rust_cargo/cargo_lambda.py
  aws_lambda_builders/workflows/rust_cargo/utils.py
  aws_lambda_builders/workflows/rust_cargo/workflow.py
  pyproject.toml
Labels: area/workflow/python_pip, area/workflow/java_gradle, area/workflow/ruby_bundler, area/workflow/go_modules, area/workflow/java_maven, area/workflow/node_npm, pr/internal

#451 chore: version bump to v1.27.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#452 chore: Remove unneeded mock dependency
  requirements/dev.txt
  tests/functional/test_utils.py
  tests/functional/workflows/python_pip/test_packager.py
  tests/integration/workflows/nodejs_npm/test_nodejs_npm.py
  tests/integration/workflows/python_pip/test_python_pip.py
  tests/integration/workflows/ruby_bundler/test_ruby.py
  tests/unit/test_actions.py
  tests/unit/test_builder.py
  tests/unit/test_path_resolver.py
  tests/unit/test_registry.py
  tests/unit/test_workflow.py
  tests/unit/workflows/custom_make/test_actions.py
  tests/unit/workflows/custom_make/test_make.py
  tests/unit/workflows/custom_make/test_workflow.py
  tests/unit/workflows/dotnet_clipackage/test_actions.py
  tests/unit/workflows/dotnet_clipackage/test_dotnetcli.py
  tests/unit/workflows/dotnet_clipackage/test_dotnetcli_resolver.py
  tests/unit/workflows/dotnet_clipackage/test_workflow.py
  tests/unit/workflows/go_modules/test_actions.py
  tests/unit/workflows/go_modules/test_builder.py
  tests/unit/workflows/go_modules/test_validator.py
  tests/unit/workflows/java/test_actions.py
  tests/unit/workflows/java_gradle/test_actions.py
  tests/unit/workflows/java_gradle/test_gradle.py
  tests/unit/workflows/java_gradle/test_gradle_validator.py
  tests/unit/workflows/java_gradle/test_gradlew_resolver.py
  tests/unit/workflows/java_maven/test_actions.py
  tests/unit/workflows/java_maven/test_maven.py
  tests/unit/workflows/java_maven/test_maven_resolver.py
  tests/unit/workflows/java_maven/test_maven_validator.py
  tests/unit/workflows/java_maven/test_workflow.py
  tests/unit/workflows/nodejs_npm/test_actions.py
  tests/unit/workflows/nodejs_npm/test_npm.py
  tests/unit/workflows/nodejs_npm/test_workflow.py
  tests/unit/workflows/nodejs_npm_esbuild/test_actions.py
  tests/unit/workflows/nodejs_npm_esbuild/test_esbuild.py
  tests/unit/workflows/nodejs_npm_esbuild/test_workflow.py
  tests/unit/workflows/python_pip/test_actions.py
  tests/unit/workflows/python_pip/test_packager.py
  tests/unit/workflows/python_pip/test_validator.py
  tests/unit/workflows/python_pip/test_workflow.py
  tests/unit/workflows/ruby_bundler/test_actions.py
  tests/unit/workflows/ruby_bundler/test_bundler.py
  tests/unit/workflows/ruby_bundler/test_workflow.py
  tests/unit/workflows/rust_cargo/test_actions.py
Labels: pr/internal
