Repository aws/aws-lambda-builders, pull requests merged in 2023-06, with the labels that each got.

#510 fix: Ignore flags not relevant to esbuild
  aws_lambda_builders/workflows/nodejs_npm_esbuild/esbuild.py
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
  tests/unit/workflows/nodejs_npm_esbuild/test_actions.py
Labels: pr/internal

#513 fix: Enable --manifest flag for esbuild and npm build
  aws_lambda_builders/actions.py
  aws_lambda_builders/workflows/nodejs_npm/workflow.py
  aws_lambda_builders/workflows/nodejs_npm_esbuild/workflow.py
  tests/integration/workflows/nodejs_npm/test_nodejs_npm.py
  tests/integration/workflows/nodejs_npm/testdata/manifest-outside-root-with-local-dependency/manifest/package.json
  tests/integration/workflows/nodejs_npm/testdata/manifest-outside-root-with-local-dependency/src/excluded.js
  tests/integration/workflows/nodejs_npm/testdata/manifest-outside-root-with-local-dependency/src/included.js
  tests/integration/workflows/nodejs_npm/testdata/manifest-outside-root/manifest/package.json
  tests/integration/workflows/nodejs_npm/testdata/manifest-outside-root/src/excluded.js
  tests/integration/workflows/nodejs_npm/testdata/manifest-outside-root/src/included.js
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
  tests/integration/workflows/nodejs_npm_esbuild/testdata/esbuild-manifest-outside-root-with-local-depends/manifest/package.json
  tests/integration/workflows/nodejs_npm_esbuild/testdata/esbuild-manifest-outside-root-with-local-depends/src/included.ts
  tests/integration/workflows/nodejs_npm_esbuild/testdata/esbuild-manifest-outside-root/manifest/package.json
  tests/integration/workflows/nodejs_npm_esbuild/testdata/esbuild-manifest-outside-root/src/included.ts
  tests/unit/test_actions.py
  tests/unit/workflows/nodejs_npm/test_workflow.py
  tests/unit/workflows/nodejs_npm_esbuild/test_workflow.py
Labels: area/workflow/node_npm, pr/internal

#514 chore: Version bump to 1.34.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#492 chore: remove deprecated runtime dotnetcore3.1
  aws_lambda_builders/validator.py
  aws_lambda_builders/workflows/dotnet_clipackage/DESIGN.md
  aws_lambda_builders/workflows/dotnet_clipackage/dotnetcli.py
  tests/integration/workflows/dotnet_clipackage/test_dotnet.py
  tests/integration/workflows/dotnet_clipackage/testdata/RequireParameters/RequireParameters.csproj
  tests/integration/workflows/dotnet_clipackage/testdata/WithDefaultsFile3.1/Function.cs
  tests/integration/workflows/dotnet_clipackage/testdata/WithDefaultsFile3.1/WithDefaultsFile.csproj
  tests/integration/workflows/dotnet_clipackage/testdata/WithDefaultsFile3.1/aws-lambda-tools-defaults.json
  tests/unit/workflows/dotnet_clipackage/test_actions.py
Labels: area/workflow/dotnet_clipackage, pr/internal
