Repository aws/aws-lambda-builders, pull requests merged in 2024-05, with the labels that each got.

#649 fix: set CARGO_TARGET_DIR env var to support cargo workspace setup for sam build
  aws_lambda_builders/workflows/rust_cargo/cargo_lambda.py
  tests/integration/workflows/rust_cargo/test_rust_cargo.py
Labels: pr/internal

#648 update _RUNTIME_GLIBC mapping to support newer python versions
  aws_lambda_builders/workflows/python_pip/packager.py
Labels: area/workflow/python_pip, pr/internal

#650 chore: bump version to 1.50.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#652 chore: Improve npm install debug logging
  Makefile
  aws_lambda_builders/workflows/nodejs_npm/actions.py
  aws_lambda_builders/workflows/nodejs_npm/workflow.py
  pyproject.toml
Labels: area/workflow/node_npm, pr/internal
