Repository aws/aws-lambda-builders, pull requests merged in 2024-02, with the labels that each got.

#614 chore: Deprecate nodejs12.x and nodejs14.x
  aws_lambda_builders/validator.py
  tests/integration/workflows/nodejs_npm/test_nodejs_npm.py
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
  tests/unit/workflows/nodejs_npm_esbuild/test_actions.py
  tests/unit/workflows/nodejs_npm_esbuild/test_esbuild.py
Labels: pr/internal

#615 chore: remove ruby2.7 runtime support
  .github/workflows/build.yml
  aws_lambda_builders/validator.py
  aws_lambda_builders/workflows/ruby_bundler/DESIGN.md
  tests/integration/workflows/ruby_bundler/test_ruby.py
Labels: area/workflow/ruby_bundler, pr/internal

#613 fix: remove python3.7 support
  .github/workflows/build.yml
  aws_lambda_builders/validator.py
  aws_lambda_builders/workflows/python_pip/DESIGN.md
  aws_lambda_builders/workflows/python_pip/packager.py
  requirements/dev.txt
  setup.py
  tests/integration/workflows/python_pip/test_python_pip.py
  tests/integration/workflows/python_pip/testdata/requirements-numpy.txt
  tests/unit/test_validator.py
  tests/unit/test_workflow.py
  tests/unit/workflows/python_pip/test_packager.py
  tests/unit/workflows/python_pip/test_validator.py
Labels: area/workflow/python_pip, pr/internal

#587 feat: add dotnet8 support
  aws_lambda_builders/validator.py
  tests/functional/test_actions.py
  tests/integration/workflows/dotnet_clipackage/test_dotnet.py
  tests/integration/workflows/dotnet_clipackage/testdata/CustomRuntime8/CustomRuntime8.csproj
  tests/integration/workflows/dotnet_clipackage/testdata/CustomRuntime8/Function.cs
  tests/integration/workflows/dotnet_clipackage/testdata/CustomRuntime8/aws-lambda-tools-defaults.json
  tests/integration/workflows/dotnet_clipackage/testdata/WithDefaultsFile8/Function.cs
  tests/integration/workflows/dotnet_clipackage/testdata/WithDefaultsFile8/WithDefaultsFile.csproj
  tests/integration/workflows/dotnet_clipackage/testdata/WithDefaultsFile8/aws-lambda-tools-defaults.json
  tests/unit/workflows/dotnet_clipackage/test_actions.py
Labels: pr/external, stage/needs-triage
