Repository aws/aws-lambda-builders, pull requests merged in 2024-11, with the labels that each got.

#691 feat: Add python3.13 runtime support
  .github/workflows/build.yml
  aws_lambda_builders/validator.py
  aws_lambda_builders/workflows/python_pip/DESIGN.md
  aws_lambda_builders/workflows/python_pip/packager.py
  setup.py
  tests/integration/workflows/python_pip/test_python_pip.py
  tests/integration/workflows/python_pip/testdata/requirements-numpy.txt
  tests/unit/workflows/python_pip/test_packager.py
Labels: area/workflow/python_pip, pr/internal

#701 chore: version bump to 1.51.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#683 Fix: Support JVM version string from old (< v8.9) and new (>= v8.9) gradle version
  aws_lambda_builders/workflows/java_gradle/gradle_validator.py
  tests/unit/workflows/java_gradle/test_gradle_validator.py
Labels: area/workflow/java_gradle

#696 feat: Add nodejs22.x support
  .github/workflows/build.yml
  aws_lambda_builders/validator.py
  tests/integration/workflows/nodejs_npm/test_nodejs_npm.py
  tests/integration/workflows/nodejs_npm_esbuild/test_nodejs_npm_with_esbuild.py
Labels: pr/internal

#705 chore: version bump to 1.52.0
  aws_lambda_builders/__init__.py
Labels: pr/internal

#706 fix: Restrict the condition for Gradle JVM string
  aws_lambda_builders/workflows/java_gradle/gradle_validator.py
  tests/unit/workflows/java_gradle/test_gradle_validator.py
Labels: area/workflow/java_gradle, pr/internal

#709 chore: Bump Lambda Builders to 1.53.0
  aws_lambda_builders/__init__.py
Labels: pr/internal
