Repository aws/aws-lambda-builders, pull requests merged in 2025-06, with the labels that each got.

#745 chore: remove SBT team from CODEOWNERS
  CODEOWNERS
Labels: pr/internal

#752 feat: update the GLIBC version available for Python 3.12 and 3.13
  aws_lambda_builders/workflows/python_pip/packager.py
Labels: area/workflow/python_pip, pr/external, stage/needs-triage

#755 chore: version bump to 1.55.0
  aws_lambda_builders/__init__.py
Labels: pr/external, stage/needs-triage
